body {
 background-color: rgba(138, 123, 105, 0.445);
}

header {
background-color: grey;
color: darkblue;
text-align: center;
}
#tableCenter {
table-layout: fixed;

}
table

tr,thead,tbody, table,th {
table-layout: fixed;
border-style: groove;
  border: 1px solid #999;
  padding: 0.5rem;

}
/* //Tried added some CSS to the table */
.tableLayOut{
    table-layout: fixed;
border-style: groove;
  border: 1px solid #999;
  padding: 0.5rem;
}

footer {
text-align: end;
}
#mainDiv {
text-align: left;
}
